<div class="row">
    <div class="col-md-6">
        <form
            #f="ngForm"
            (ngSubmit)="onSave(f.value)"
        >
            <div class="form-group">
                <label for="title">Title</label>
                <input
                    id="title"
                    type="text"
                    class="form-control"
                    [(ngModel)]="currentProduct.title"
                    name="title"
                    required
                    #title="ngModel"
                >
                <div
                    class="alert alert-danger"
                    *ngIf="title.touched && title.invalid"
                >
                    Please enter title.
                </div>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-prepend">$</span>
                    <input
                        id="price"
                        type="number"
                        class="form-control"
                        [(ngModel)]="currentProduct.price"
                        name="price"
                        #price="ngModel"
                        required
                        [min]="0"
                    >
                </div>
                <div
                    class="alert alert-danger"
                    *ngIf="price.touched && price.invalid"
                >
                    <div *ngIf="price.errors.required">Price is required.</div>
                    <div *ngIf="price.errors.min">Price should be 0 or higher.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select
                    id="category"
                    class="form-control"
                    [(ngModel)]="currentProduct && currentProduct.category"
                    name="category"
                    #category="ngModel"
                    required
                >
                    <option value></option>
                    <!-- Get categories from database -->
                    <option
                        *ngFor="let c of categories$|async"
                        [value]="c.key"
                    >
                        ‌{{ c.payload.val().name }}
                    </option>
                </select>
                <div
                    class="alert alert-danger"
                    *ngIf="category.touched && category.invalid"
                >
                    Please choose a category.
                </div>
            </div>
            <div class="form-group">
                <label for="imageUrl">Image URL</label>
                <input
                    id="imageUrl"
                    type="text"
                    class="form-control"
                    [(ngModel)]="currentProduct.imageUrl"
                    name="imageUrl"
                    #imageUrl="ngModel"
                    required
                    url
                >
                <div
                    class="alert alert-danger"
                    *ngIf="imageUrl.touched && imageUrl.invalid"
                >
                    <div *ngIf="imageUrl.errors.required">Image URL is required.</div>
                    <div *ngIf="imageUrl.errors.url">Please enter a valid URL.</div>
                </div>
            </div>
            <button
                class="btn btn-primary"
                [style.margin-right.px]="20"
            >
                Save
            </button>
            <button
                type="button"
                (click)="onDelete()"
                class="btn btn-danger"
            >
                Delete
            </button>
            <button
                class="btn btn-primary"
                [style.margin-left.px]="20"
                (click)="onCancel()"
            >
                Cancel
            </button>

        </form>
    </div>

    <div class="col-md-6">
        <product-card
            [product]="currentProduct"
            [showButtons]="false"
        ></product-card>
    </div>
</div>
